* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #252525;
  color: #fff
}

.primary-bg-color {
  background-color: #252525;
}

.secondary-bg-color {
  background-color: #C09578;
}

.light-bg-color {
  background-color: #FCF5EB;
}

.dark-bg-color {
  background-color: #101010;
}

.primary-color {
  color: #C09578;
}

.secondary-color {
  color: #626262;
}

.light-color {
  color: #FCF5EB;
}

/* NAVBAR */
#navbar .navbar-nav {
  flex-direction: row; /* navbar itens alinhados */
  justify-content: end; /* alinha horizontalmente para direita */
}

#navbbar .navbar-nav li {
  margin-left: 1em; /* espacamos os itens da navbar */
}

#navbar a,
#navbar button {
  color: #FFF; /* cor branca para o texto */
}

#navbar li {
  position: relative; /* para pode posicionar o elemento filho, o numeral do carrinho absoluto com relacao a ele */
}

#navbar i {
  font-size: 20px; /* tamanho dos icones */
}

#navbar span {
  position: absolute; /* posicao sera em relacao ao elemento pai */
  top: -8px; /* posicao sera em relacao ao elemento pai */
  right: -8px; /* posicao sera em relacao ao elemento pai */
  width: 20px; /* largura do item */
  height: 20px; /* altura do item */
  border-radius: 50%; /* bordas do elemento deixando ele redondo */
  background-color: #EF3636; /* cor do circulo */
  text-align: center; /* texto alinhado ao centro */
}

#bag-item span {
  left: 20px; /* poe o bullet com o numero mais para proximo do item bag ja que este elemento e maior que o outro */
}

.navbar-brand {
  font-weight: 700; /* mais negrito na fonte */
  width: 100%; /* ocupa 100% do espaco restante do navbar */
  text-align: center; /* texto alinhado ao centro do espaco */
}

@media(min-width: 768px) { /* uso para telas de desktop */
  .navbar-brand {
    text-align: left; /* texto alinhado a esquerda para o tamanho desktop */
  }
}

#navbar-items {
  justify-content: space-between; /* disposicao ativada para ativaçao com o flex com o tamanho desktop e nao muda nada em mobile por isso nao adiciono o display flex aqui*/
}

@media(min-width: 768px) { /* uso para telas de desktop */
  #navbar-items {
    min-width: 80%; /* largura minima dos elementos */
    display: flex; /* elementos em disposicao row */
  }
}

#search-form {
  width: 100%; /* campo de pesquisa ocupar 100% */
  margin: 2em 0; /* margem superior e inferior para separar dos demais elementos */
}

@media(min-width: 768px) { /* uso para telas de desktop */
  #search-form { /* importante para que ele se adapte e nao ocupe a linha toda empurrando os items */
    width: 50%; /* largura que o elemento deve ter */
    margin: 0; /* sem margem */
  }
}

#search-form { /* quadro que engloba todo o campo de pesquisa */
  border: 2px solid #626262;
  border-radius: 3px;
  padding: 5px 15px;
}

#search-form input { /* regiao de digitacao do input */
  background-color: transparent;
  border: none;
  color: #fff;
}

#search-form input:focus {
  box-shadow: none; /* removemos o focus no campo de pesquisa so clicarmos nele */
}

#search-form input::placeholder {
  color: #fff; /* cor do placeholder no input */
}

/* BOTTOM NAVBAR */
#bottom-navbar-container .container {
  justify-content: flex-end; /* reflete no metodo mobile para direcionar o toggle para direita */
}

#bottom-navbar-container a {
  font-weight: 600; /* poe em negrito os links */
  color: #FFF; /* cor da fonte dos links */
}

.navbar-toggler {
  font-size: 1.5em; /* tamanho do toggler da navbar */
}

/* BANNERS */
#banners-container {
  padding: 0; /* container que inclue todos os banners carousel */
}

.carousel-caption {
  /* foco inicial em mobile */
  bottom: 5em; /* maior margem inf da descricao */
  padding: 1em; /* espaco interno */
  left: 12%; /* espacamento da esquerda */
  right: 12%; /* espacamento da direita */
}

.carousel-caption h5 {
  font-size: 1.8em; /* tamanho da fonte para mobile */
}

@media(min-width: 768px) { /* uso para telas de desktop */
  #slider .carousel-item,
  #slider img {
    height: 600px; /* altura da imagem */
  }

  .carousel-caption {
    /* diminui a area cinza */
    left: 23%; /* espacamento da esquerda */
    right: 23%; /* espacamento da direita */
  }

  .carousel-caption h5 {
    font-size: 4em; /* tamanho da fonte para desktop */
  }
}

/* MINI_BANNERS */
#mini-banners {
  margin-top: -3em; /* faz com que ele entre no carrosel */
  z-index: 10; /* altera a posicao do elemento no eixo z de profundidade com isso ele neste caso vai ficar por cima do slide */
}

#mini-banners .col-12 { /* regra para o mobile */
  z-index: 1; /* profundidade para o mobile */
  height: 300px; /* altura determinada nas colunas */
  padding: 1.5em; /* espacamento interno nos cards dos banners */
  position: relative; /* para este banner ser a referencia das imagens que terao um posicionamento absoluto */
  display: flex; /* para os itens internos dentro deste col-12 */
  flex-direction: column; /* fluxo dos itens para colunas ja que o padrao e o row */
  justify-content: space-between; /* ficam espacados entre si ou seja um fica no topo e outro embaixo */
}

@media(min-width: 768px) { /* formato desktop aprox 19 pol */
  #mini-banners .col-12 {
    max-width: 30%; /* determinamos a largura maxima dos mini banners. Assim ficam dispostos 3 na pagina em formato desktop*/
  }
}

#mini-banners .col-12 h2 {
  text-transform: uppercase;
  max-width: 50px; /* isso é feito para quebrar a frase e assim ter uma palavra em cada linha */
  font-size: 2.2em; /* tamanho da fonte */
  font-weight: 700; /* colocacao do texto em negrito */
  line-height: 1em; /* para quando eles quebrarem a linha poderem ficar bem proximos */
}

#mini-banners .col-12 img {
  height: 220px; /* altura das imagens */
  position: absolute; /* posicao absoluta */
  /* com as determinacoes abaixo posicionamos o item no quadro */
  right: 1em; /* posicao da direita */
  bottom: 1em; /* posicao com relacao ao final  */
}

#mini-banners .col-12 a {
  font-weight: bold;
  color: #fff;
  font-size: 0.8em;
  transition: 0.5s; /* transicao da mudanca do hover */
}

#mini-banners .col-12 a:hover {
  color: #101010;
}

#mini-banners #mini-banner-1 a:hover,
#mini-banners #mini-banner-3 a:hover {
  color: #c09578;
}

#mini-banners #mini-banner-3 a {
  color: #101010;
}

/* BEST SELLERS */
#best-sellers {
  padding: 4em 0; /* espacar o elemento acima e abaixo dos outros - eixo y */
}

#best-sellers .row {
  margin: 0; /* tira a margem que normalmente por padrao e negativa no row */
}

#best-sellers .col-md-3 {
  padding: 0; /* removemos o padding padrao do bootstrap */
}

.title { /* sera utilizada em outras partes */
  text-transform: uppercase;
  font-weight: 900; /* simular mais forte que o bold */
  font-size: 2.5em;
  margin-bottom: 1em; /* para afastar dos itens abaixo */
  text-align: center;
}

@media(min-width: 768px) {
  .title {
    text-align: left;
  }
}

.card {
  text-align: center;
  border-radius: 0; /* remove o bordo do card que o bootstrap adiciona */
}

.card img {
  width: 140px; /* largura da imagem */
  margin: 2em auto; /* separa a img do bordo superior e do texto inf */
}

.card .card-category {
  font-size: 0.8em;
}

.card .card-text { /* relativo ao preco */
  margin: 2em 0; /* para afastar dos outros conteudos */
  font-weight: bold;
}

.btn {
  background-color: transparent;
  border-color: #C09578;
}

.btn:hover {
  background-color: #C09578;
  border-color: #C09578;
}

/* BOTTOM BANNER - BANNER DESTAQUE */
#bottom-banner {
  background-color:   #101010;
  padding: 6em; /* espacamento interno */
  margin-bottom: 4em; /* para espacar das outras divs embaixo */
  text-align: center;
}

#bottom-banner .offer-subtitle,
#bottom-banner h2 {
  text-transform: uppercase;
  font-weight: bold;
}

#bottom-banner .btn {
  margin: 2em;
  font-weight: bold;
  padding: 1em;
}

#bottom-banner img {
  max-width: 175px;
}

@media (min-width: 768px) {
  #bottom-banner h2 {
    font-size: 6em; /* aumentamos a fonte para ficar melhor no formato desktop */
  }
}
